/*-----------Écran pour téléphone------------*/
@media screen and (max-width: 600px){
body {
    background-image: repeating-linear-gradient(to left,#FF3522,#000000) ;
    font-family: Arial, sans-serif;
    font-weight: 600;
    -webkit-text-stroke: 2px black;
    color:white;
}

    
/*-------
Configuration du menu de navigation pour téléphone
*/
    
.logo{
    display: none;
}
                
h1{
    text-align: center; 
    font-size: 190%;
    text-shadow: 5px 5px black;      
}
                
header::after{
    content: '';
    display: table;
    clear: both;
}

#google_translate_element{
    padding-top: 25px;
    float: right;
}
                
#menuNav{
    width:100%; 
    margin-top: -20px;
    position: fixed;
    background-color: black;
    padding-bottom: 20px;
}

.menu{
    float: left;
    width: 40px;
    height: 15px;
    margin: 12px 0 20px 20px;
    cursor: pointer;
}

.bar{
    height: 5px;
    width: 10%;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

                
#navArea:after{
    content: '';
    clear: both;
    display: block;
}

.nav{
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

/*
*Menu-Hamburger
*/

.change .bar{
background-color:#FFD625;
}

.change #bar1{
transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2{
opacity: 0;
}

.change{
display: block;
}


.change-bg{
width: 550px;
height: 540px;
}

.change #bar3{
transform: translateY(-6px) rotateZ(45deg);
}
    
#navArea ul{
    list-style: none;
    margin:0;
}
    
#navArea > ul > li{
    float: left;
    position: relative;
}
    
#navArea ul li a{
    text-decoration: none;
    padding:10px 15px;
    display: block;
    color:white;
    font-size: 19px;
}
    
#navArea ul li:hover a{
    background-color: #28F5EF;
}
    
#navArea ul ul{
    position:absolute;
    padding:0;
    min-width: 160px;
    display: none;
    top: 90%;
    left: 0;
}
        
#navArea ul li:hover > ul{
    display: block;
}
        
#navArea ul ul li:hover a{
    background-color: #FF3522;
}
    
#navArea ul ul li{
    position: relative;
}

.essai:hover,
.essai:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.4em);
}
            
a{
    font-size: 25px;
    -webkit-text-stroke: 2px black;
}
    
/*-------
Background blanc de certaines lettres
*/
        
span.fi{
    background-color: white;
    text-shadow: 0px 0px black;
}

/*-------
Format du texte dans le body
*/


.enTete{
    padding-top: 280px;
}

h2{
    font-size: 37px;
    text-align: center;
    padding-top: 120px;
}

.paragraphe{
    font-size: 21px;
    color: white;
    -webkit-text-stroke: 0px black;
}

h3{
    font-size: 37px;
    text-align: center;
}

/*-------
Disposition des videos et images
*/

.map{
    width: 350px;
    display: block;
    margin: auto;
}

.slth{
    width: 385px;
    margin: auto;
    display: block;
}

.diff{
    margin: auto;
    display: block;
}

.elements{
    width: 310px;
    margin: auto;
    display: block;
}

.baton{
    width: 385px;
    margin: auto;
    display: block;
}

.allO{
    width: 385px;
    margin: auto;
    display: block;
}

.social{
    width: 385px;
    height: 350px;
    display: block;
    margin: auto;
}

.menu{
    width: 385px;
    margin: auto;
    display: block;
}

#demo{
    text-align: center;
    color: white;
    font-size: 24px;
    text-shadow: none;
}

}




/*---------Écran pour tablette----------------*/
@media screen and (min-width: 601px) and (max-width: 1200px){
body {
    background-image: repeating-linear-gradient(to left,#FF3522,#000000) ;
    font-family: Arial, sans-serif;
    font-weight: 600;
    -webkit-text-stroke: 2px black;
    color:white;
}
    
/*-------
Configuration du menu de navigation 
*/

.logo{
    display: none;
}
        
h1{
    text-align: center; 
    font-size: 220%;
    text-shadow: 5px 5px black;    
}

#google_translate_element{
    padding-top: 25px;
    float: right;
}
              
#menuNav{
    width:100%; 
    margin-top: -35px;
    position: fixed;
    background-color: black;

}

.menu{
    float: left;
    width: 40px;
    height: 40px;
    margin: 20px 0 20px 20px;
    cursor: pointer;
}

.bar{
    height: 5px;
    width: 10%;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.nav li{
    list-style: none;
    
}

.nav li a:hover{
    background-color: #28F5EF;
}
        
#navArea:after{
    content: '';
    clear: both;
    display: block;
}

.nav{
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

/*
*Menu-Hamburger
*/

.change .bar{
    background-color:#FFD625;
}

.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2{
    opacity: 0;
}

.change{
    display: block;
}


.change-bg{
    width: 550px;
    height: 540px;
}

.change #bar3{
    transform: translateY(-6px) rotateZ(45deg);
}

#navArea ul{
    list-style: none;
    margin:0;
}

#navArea > ul > li{
    float: left;
    position: relative;
}

#navArea ul li a{
    text-decoration: none;
    padding:15px 20px;
    display: block;
    color:white;
    font-size: 22px;
}

#navArea ul li:hover a{
    background-color: #28F5EF;
}

#navArea ul ul{
    position:absolute;
    padding:0;
    min-width: 160px;
    display: none;
    top: 90%;
    left: 0;
}

#navArea ul li:hover > ul{
    display: block;
}

#navArea ul ul li:hover a{
    background-color: #FF3522;
}

#navArea ul ul li{
    position: relative;
}

.essai:hover,
.essai:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.4em);
}
    
a{
    font-size: 20px;
    -webkit-text-stroke: 2px black;
}

/*-------
Background blanc de certaines lettres
*/

span.fi{
    background-color: white;
    text-shadow: 0px 0px black;
}

/*-------
Format du texte dans le body
*/

h2{
    font-size: 40px;
    text-align: center;
    padding-top: 120px;
}

.enTete{
    padding-top: 280px;
}

.paragraphe{
    font-size: 22px;
    color: white;
    -webkit-text-stroke: 0px black;
}

h3{
    font-size: 34px;
    text-align: center;
}

/*-------
Disposition des videos et images
*/

.map{
    width: 550px;
    display: block;
    margin: auto;
}

.slth{
    margin: auto;
    display: block;
}

.diff{
    margin: auto;
    display: block;
}

.elements{
    width: 310px;
    margin: auto;
    display: block;
}

.baton{
    margin: auto;
    display: block;
}

.allO{
    width: 550px;
    margin: auto;
    display: block;
}

.social{
    width: 550px;
    height: 350px;
    display: block;
    margin: auto;
}

.menu{
    width: 550px;
    margin: auto;
    display: block;
}

#demo{
    text-align: center;
    color: white;
    font-size: 24px;
    text-shadow: none;
}

}


/*-----------Écran pour pc-------------*/

@media only screen and (min-width: 1200px){
body {
    background-image: repeating-linear-gradient(to left,#FF3522,#000000) ;
    font-family: Arial, sans-serif;
    font-weight: 600;
    -webkit-text-stroke: 2px black;
    color:white;
}
            
/*-------
Configuration du menu de navigation 
*/
            
.logo{
    float: left;
    width: 130px;
    height: 130px;
}
            
h1{
    text-align: center; 
    font-size: 400%;
    text-shadow: 5px 5px black;      
}

#google_translate_element{
    padding-top: 30px;
    float: right;
}
            
header::after{
    content: '';
    display: table;
    clear: both;
}
            
#menuNav{
    margin-top: -20px;
    width:100%;  
    position: fixed;
    background-color: black; 
}

            
#navArea:after{
    content: '';
    clear: both;
    display: block;
}

#navArea ul{
    list-style: none;
    margin:0;
}

#navArea > ul > li{
    float: left;
    position: relative;
}
    
#navArea ul li a{
    text-decoration: none;
    padding:15px 20px;
    display: block;
    color:white;
    font-size: 27px;
}
    
#navArea ul li:hover a{
    background-color: #28F5EF;
}
    
#navArea ul ul{
    position:absolute;
    padding:0;
    min-width: 160px;
    display: none;
    top: 90%;
    left: 0;
}
        
#navArea ul li:hover > ul{
    display: block;
}
        
#navArea ul ul li:hover a{
    background-color: #FF3522;
}
    
#navArea ul ul li{
    position: relative;
}

.essai:hover,
.essai:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.4em);
}
            
a{
    font-size: 25px;
    -webkit-text-stroke: 2px black;
}
        
/*-------
Background blanc de certaines lettres
*/
        
span.fi{
    background-color: white;
    text-shadow: 0px 0px black;
}

/*-------
En-tête et paragraphe
*/

.enTete{
    padding-top: 270px;
}

h2{
    font-size: 43px;
    text-align: center;
}
    
.paragraphe{
    font-size: 23px;
    color: white;
    -webkit-text-stroke: 0px black;
}

h3{
    font-size: 30px;
}

/*-------
Disposition des videos et images
*/

.map{
    display: block;
    margin: auto;
}

.slth{
    margin: auto;
    display: block;
}

.diff{
    margin: auto;
    display: block;
}

.elements{
    width: 310px;
    margin: auto;
    display: block;
}

.baton{
    margin: auto;
    display: block;
}

.allO{
    width: 500px;
    margin: auto;
    display: block;
}

.social{
    width: 500px;
    height: 350px;
    display: block;
    margin: auto;
}

.menu{
    width: 800px;
    margin: auto;
    display: block;
}

#demo{
    text-align: center;
    color: white;
    font-size: 24px;
    text-shadow: none;
}

}